.signup-password-form
  width 400px
  margin 0 auto
  padding 10px 0 10px
  label
    padding-top 12px
    font-size 16px
    color #666
  .type
    display inline-block
    font-size 16px
    color #666
    line-height 39px
  .protocol
    color #999
    a
      color #00acd6
  input
    // height 42px
    // line-height @height
    // font-size 16px
    border 1px solid #e0e0e0
    color #666
  .code-img
    display inline-block
    width 125px
    height 34px
    vertical-align middle
.signup-password-desc
  width 70%
  margin 0 auto
  padding-top 25px
  padding-bottom 30px
  border-top 1px solid #f4f4f4
  font-size 14px
  h2
    width 400px
    margin 0 auto
    line-height 36px
    color #666
    font-size 18px
    font-weight normal
    em
      font-size 14px
      color #999
  p
    width 400px
    height 30px
    margin 0 auto
    color #666
    white-space nowrap
    a
      color #00acd6
  span
    display block
    line-height 100px
    text-align center
    color #999
