/* el 初始化 */
.el-input__icon+.el-input__inner
  padding-right 10px

.el-table th>.cell
  text-align center

.el-pagination
    margin-top 20px

.box-card
  margin-bottom 20px
  .el-card__header
    padding 0px 20px
    height 50px
    line-height 50px
    background-color #fcfcfc
    border-bottom none
    text-align left
    color #333
    font-size 16px
