html
  height 100%
  
body
  height 100%
  background-color #f1f1f1
  
.cncn-main-wrap
  width 100%
  height calc(100% - 50px)
  overflow: auto
  .cncn-main-wrap-2
    min-height 100%
    position relative
    .cncn-footer
      background-color #fff
    .cncn-main
      padding 20px 20px 60px 170px
      text-align center
      background-color #f1f1f1
      .cncn-main-con
        min-height 200px
        padding 20px
        background-color #fff
        
.cncn-sign-system
  height 100%
  position relative
  background-color #ecf0f5
  .cncn-sign-system-wrap
    position absolute
    top 0px
    left 0px
    width 100%
    min-height 100%
    .cncn-sign-system-con
      padding-top 64px
      padding-bottom 74px
      margin 0px 46px
    .cncn-header
      position absolute
    .cncn-footer
      p
        margin-left 0px
    .cncn-sign-system-main
      background-color #fff
