.signup-password-desc
  width 70%
  margin 0 auto
  padding-top 25px
  border-top 1px solid #f4f4f4
  font-size 14px
  h2
    width 400px
    margin 0 auto
    line-height 36px
    color #666
    font-size 18px
    font-weight normal
    em
      font-size 14px
      color #999
  p
    width 400px
    height 30px
    margin 0 auto
    color #666
    white-space nowrap
    a
      color #00acd6
  span
    display block
    line-height 130px
    text-align center
    color #999